.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 8px;
    overflow: hidden;


    width: 260px;
    height: 100vh;
    background-color: #3B3B3B;

    border-right: 1px solid #5f5f5f;
}

header{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-right: 15px;
    gap: 5px;
    font-family: "Roboto Mono", sans-serif;
}

header h2 {
    text-decoration: underline;
    text-decoration-color: #6F31FF;
}

header h4 {
    color: #6F31FF;
}

.divider {
    border: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #5f5f5f, transparent
    );
    margin: 8px 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}

.options button {
    background-color: #2D2D2D;
    padding: 13px;
    border: none;
    border-radius: 6px;
    color: #ffffff73;
    font-size: 15px;

    font-weight: bold;
    transition: 0.25s ease;
    cursor: pointer;
}

.options button:hover {
    background-color: #6F31FF;
}

.user {
    padding: 35px 10px;
    color: #ffffff73;
    margin-top: auto;
}