/* 1. Configuração do Layout Principal */
.layout {
  display: flex;           
  height: 100vh;           
  width: 100vw;          
  overflow: hidden;        
  background-color: #141416; 
}

.sidebar {
  width: 260px;            
  flex-shrink: 0;          
  background-color: #1F1F23; 
  border-right: 1px solid #2d2d30; 

  overflow-y: hidden; 
}


.content {
  flex: 1;                 
  overflow-y: auto;       
  position: relative;
  display: flex;           
  flex-direction: column;
}


.hud {
  flex: 1;              
  padding: 0;           
  width: 100%;           
}