header {
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 10px 12px;
    font-family: "Roboto  Mono", sans-serif;
}

header h1 {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #6F31FF;
    margin-left: 20px;
}

header h4 {
    color: #6F31FF;
}