.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #121214;
}

app-sidebar {
  width: 260px;
  background: #1a1d1f;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
